{% extends 'testwork/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h2> Урок</h2>


{% for lesson in lesson %}
<p>{{ lesson.name }}</p>
    <tr >
        
        <td>{{ lesson.name }}</td>
        <td><a href="{{ lesson.link }}">ссылка урок</a></td>
        <td>{{ lesson.duration }}</td>

        <br>

        <script>
        
        <a onclick="location.href='{{ lesson.link }}'">Content</a>
        var time=document.getElementsByTagName("video")[0].currentTime
        document.write(time)
        console.log(time)  
        
        </script>

        <br>
        <br>
        <br>


    </tr>
{% endfor %}
{% else %}
<h2>Просматривать урок  может только зарегистрированный  пользователь</h2>

{% endif %}
{% endblock %}

